* {
  margin: 0;
  padding: 0;
}
li {
  list-style: 0;
}
a {
  text-decoration: none;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: #00194a;
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  color: #00194a;
  opacity: 0.8;
}
.container {
  width: 1175px;
  margin: 0 auto;
}
.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: #ff0043;
  box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
  border-radius: 23px;
  padding: 15px 20px;
}
/* Header */
.header {
  padding: 50px 0;
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
}
.header__logo::before {
  content: "";
  background: url("/assets/img/Telegraph.svg") no-repeat center center/ cover;
  display: block;
  width: 92px;
  height: 20px;
}
.header__btn {
}
/* intro */
.intro {
  padding: 50px 0;
}
.intro__wrap {
  display: flex;
  align-items: center;
}
.intro__block {
}
.intro__title {
  font-size: 60px;
  line-height: 85px;
  margin-bottom: 20px;
}
.intro__text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 50px;
}
.intro__btn {
}
.intro__img {
  width: 655px;
  height: 604px;
}
.intro__img img {
  height: 100%;
  object-fit: cover;
}
/* os */
.os {
  padding: 80px 0;
}
.os__wrap {
}
.os__row {
  display: flex;
  margin: 0 -15px;
}
.os__column {
  padding: 0 15px;
}
.os__icon {
  margin-bottom: 20px;
}
.os__item {
  padding: 30px 50px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}
.os__title {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 15px;
}
.os__text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.os__link {
  font-size: 22px;
  line-height: 26px;
  text-decoration-line: underline;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
}
.os__link::after {
  content: "";
  background: url(/assets/img/download.svg);
  display: block;
  width: 21px;
  height: 20px;
  margin: 0 0 0 auto;
}
/* Simple */
.simple {
}
.simple__wrap {
  display: flex;
  align-items: center;
}
.simple__block {
}
.simple__title {
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 30px;
}
.simple__text {
  margin-bottom: 40px;
}
.content__wrap2 {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.content__title2 {
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 30px;
}
.content__text2 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 50px;
}
.content__block2 {
  align-self: 50px;
}
.content__wrap3 {
  display: flex;
  align-items: center;
}
.content__title3 {
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 30px;
}
.content__text3 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 50px;
}
.layout__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1139px;
  height: 346px;
  background: #00194a;
  border-radius: 25px;
}

.layout__title {
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 30px;
  color: #fff;
}

.layout__text {
  display: block;
  width: 580px;
  height: 56px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
}
